<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/fab-icon.png"Ã>
        <title>Weather App</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is developed by Mike and this is for getting the weather data for all the cites</p>
            <p>Report issues on <a href="https://github.com/mukesh-bidchat/web-server/issues">Github</a></p>
            <img class="landscape" src="/img/event_loop.png">
        </div>
        
        {{>footer}}
    </body>
</html>