<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/fab-icon.png"Ã>
        <title>Weather App</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="landscape" src="/img/event_loop.png">
        </div>
        
        {{>footer}}
    </body>
</html>